<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<groups>
		<run>
			<include name="regression"></include>
			<include name="smoke"></include>
		</run>
	</groups>
	<listeners>
	<listener class-name=""></listener>
	</listeners>
	<parameter name="username" value="irfan"></parameter>
	<parameter name="password" value="12345"></parameter>
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.testng.pac.Annotation_2" />
			<class name="com.testng.pac.Annotation_1" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
